@use "variables";


.form {


    background:variables.$white;


    padding:30px;


    border-radius:variables.$border-radius;


    width:300px;


    display:flex;


    flex-direction:column;


    gap:15px;



    h2 {


        color:variables.$text-color;


    }



    label {


        font-weight:bold;


    }



    input {


        padding:10px;


        border:2px solid #ccc;


        border-radius:8px;



        &:focus {


            outline:3px solid variables.$primary-color;


        }



        &:invalid:not(:placeholder-shown){


            border-color:variables.$error-color;


        }



        &:valid {


            border-color:variables.$success-color;


        }


    }



    .error-message {


        color:variables.$error-color;


        font-size:.85rem;


        display:none;


    }



    input:invalid:not(:placeholder-shown) + .error-message {


        display:block;


    }



    button {


        padding:12px;


        background:variables.$primary-color;


        color:variables.$white;


        border:none;


        border-radius:8px;


        cursor:pointer;



        &:hover,
        &:focus-visible {


            opacity:.8;


            outline:3px solid variables.$white;


        }

    }


}