@use "variables";


body {

    min-height:100vh;

    margin:0;

    display:grid;

    place-items:center;

    background:variables.$background-color;

    font-family:Arial,sans-serif;

}



.container {


    width:90%;

    max-width:1200px;


    display:grid;


    grid-template-columns:repeat(3,1fr);


    grid-template-areas:

    "card form extra"

    "card info extra";


    gap:30px;


    perspective:600px;



    @media(max-width:900px){


        grid-template-columns:1fr;


        grid-template-areas:

        "card"

        "form"

        "extra"

        "info";


    }

}


.card-container{

    grid-area:card;

}


.form{

    grid-area:form;

}


.extra{

    grid-area:extra;

}


.info{

    grid-area:info;

}