@mixin flex-center {

    display:flex;

    justify-content:center;

    align-items:center;

}


@mixin card-style {

    border-radius:15px;

    padding:20px;

    box-shadow:0 10px 20px rgba(0,0,0,.3);

}