$primary-color: #3498db;
$secondary-color: #e74c3c;

$background-color: #222;
$white: #ffffff;
$text-color: #333;

$success-color: #27ae60;
$error-color: #c0392b;

$card-width: 300px;
$card-height: 400px;

$border-radius: 15px;

$transition: 0.8s ease;