$primary-color: #3498db;
$secondary-color: #e74c3c;
$third-color: #9b59b6;

$background-color: #222;

$white: #ffffff;
$text-color: #333;

$success-color: #27ae60;
$error-color: #c0392b;

$border-radius: 15px;

$transition: .8s ease;